
body {
    background-color: deepskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: blue;

}

.topo {
    background-color: aqua;
    padding: 30px;
}

.materia {
    background-color: skyblue;
    padding: 30px;
    margin-bottom: 15px;
    width: 1000PX;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.materia img {
    width: 100%;
    margin-bottom: 20px;
}

.materia h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
}

.topo a {
    color: navy;
    text-decoration: none;
}

.botao {
    background-color: aqua;
    color: navy;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.rodape {
    background-color: aqua;
    color: navy;
    padding: 10px;
    text-align: center;
}

main{
    padding: 10px;
}

.menu {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.menu a:hover {
    color: fuchsia;
}

.menu li {
    margin-right: 20px;
}

.titulo {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    color: white;
}

.texto {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: black;
}

.navegacao{
    display: flex;
}