

body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: blue;

}

.topo {
    background-color: aqua;
    padding: 30px;
}

.materia {
    background-color: skyblue;
    padding: 30px;
    margin-bottom: 15px;
}

.topo a {
    color: navy;
    text-decoration: none;
}

.botao {
    background-color: aqua;
    color: navy;
    text-decoration: none;
    padding: 10px;
}

.rodape {
    background-color: aqua;
    color: navy;
    padding: 30px;
}
main{
    padding: 10px;
}

.menu {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.menu a:hover {
    color: fuchsia;
}
 
.menu li{
    margin-right: 20px; 
}

.navegacao{
    display: flex;
}